/* gloal */

:root {
  --primary-color: #3b49df;
  --header-color: #fff;
}

.btn-primary {
  background: var(--primary-color) !important;
}

/* hideonmob */

@media screen and (max-width: 600px) {
  .hideonmob {
    display: none;
  }
}
